In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
imdb = Table.read_table('imdb.csv')
imdb.show(5)

# Question 1
Find the ten movies released in the year 2000 or later with the highest number of votes according to imdb.csv. Format your answer as a table with columns Title and Votes (in that order) of the three requested movies.

In [34]:
later_or_2000 = imdb.where("Year", are.above_or_equal_to(2000))
votes = later_or_2000.sort("Votes", descending=True)
top10 = votes.take(np.arange(1,10))
top10v2 = top10.drop("Rating", "Year", "Decade")
top10v2

Votes   | Title
1271949 | Inception
1099087 | The Lord of the Rings: The Fellowship of the Ring
1074146 | The Lord of the Rings: The Return of the King
997350  | The Dark Knight Rises
967389  | The Lord of the Rings: The Two Towers
862216  | Gladiator
862016  | The Avengers
850601  | Batman Begins
804729  | Django Unchained

# Question 2

Create a table with columns Title and Votes containing all movies released in 1999.

Next, attach a new column to the table called Percent Votes that contains the percent of votes each movie received when considered among all votes cast for movies released in 1999.

For example, if the total number of votes cast for movies released in 1999 is 200 and "The Matrix" received 30 of them, then the column Percent Votes corresponding to "The Matrix" should 15.

In [66]:
movies1999 = imdb.where("Year", are.equal_to(1999))
movies1999 = movies1999.select('Title', 'Votes')
votes_column = movies1999.column('Votes')
total_votes = sum(votes_column)
perc_column = votes_column / total_votes * 100
movies1999.with_column("Percent", perc_column)

Title           | Votes   | Percent
Fight Club      | 1177098 | 27.4441
American Beauty | 735056  | 17.1379
The Sixth Sense | 630994  | 14.7117
The Matrix      | 1073043 | 25.0181
The Green Mile  | 672878  | 15.6882